@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
        font-family: "Titillium Web", system-ui;
        font-weight: 200;
        font-style: normal;
      
}

#name{
    position: relative;
    display: block;
    height: 20px;
    width:210px;
    margin-left:43%;

}
#size{
    position: relative;
    display: block;
    height: 20px;
    width:210px;
    margin-left:43%;
}
.butt{
    position: relative;
    display: flex;
    gap:10px;
    margin-top: 20px;
    margin-left:43% ;
    
}
.button1,.button2{background-color:rgb(104, 168, 178);
    color: black;
    

}
#root{
    height: 800px;
    width: 100%;
    text-align: center;
    background-color: rgb(113, 113, 157);
    border-radius: 10% ;
}
.image{
    margin-top:30px;
    width:300px;
    height:300px;


}
.button1:hover,.button2:hover{
    background-color:rgb(92, 126, 189) ;
    
}